*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    position: fixed;
    background-color: grey;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#container {
    position: absolute;
    margin: auto;    
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: coral;
    width: 450px;
    height: 600px;
    overflow: hidden;

}

.switch {
    display: flex;
    width: 360px;
    height: 36px;
    padding: 2px;
    margin: 20px auto;
    background-color: aqua;
    border-radius: 50px;
}

.slider {
    position: relative;
    width: 356px;
    height: 32px;
    background-color: brown;
    border-radius: 50px;
    cursor: pointer;
}

.btn {
    position: absolute;
    width: 178px;
    height:32px;
    border-radius: 50px;
    left:0;
    transition: linear 0.2s;
    background-color: lawngreen;
} 

.login {
    position: absolute;
    width: 178px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
}

.register {
    position: absolute;
    width: 178px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
}

#logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 50px;
    margin: 30px auto;
}

#logo div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: deeppink;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    color: mintcream;
}

.form {
    display: flex;
    justify-content: space-between;
    transition: transform linear 0.2s;
}

.formLogin {
    position: absolute;
    background-color: cornflowerblue;
    width: 300px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    left: 75px;
    transition: linear 1s;
    padding: 20px;
}

.formRegister {
    position: absolute;
    background-color: cornflowerblue;
    width: 300px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    left: 525px;
    transition: linear 1s;
    padding: 20px;
}

.text {
    width: 250px;
    height: 60px;
    padding: 0 10px;
    border: none;
    border-bottom: darkblue 1px solid;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 30px;
    background-color: darkorchid;
}